
<h1>New Game</h1>
<div class="letters">
  <% @letters.each do |letter| %>
    <h2 class="inline"><%= letter %></h2>
  <% end %>
</div>
<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <input type="text" name="answer">
  <input type="submit" value="Play!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
